name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]

jobs:
  CLAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # the below token should have repo scope and must be manually added by you in the repository's secret
          PERSONAL_ACCESS_TOKEN : ${{ secrets.A1Y_BOT_TOKEN }}
        with:
          path-to-document: 'https://github.com/a1y-developer/.github/blob/main/CLA.md' # e.g. a CLA or a DCO document

          # branch should not be protected
          lock-pullrequest-aftermerge: True
          path-to-signatures: 'signatures/version1/cla.json'
          remote-organization-name: a1y-developer
          remote-repository-name: cla.db
          branch: 'main'
          allowlist: bot
