name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  Test:
    name: Unit tests with coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - run: go mod download
      - run: go vet ./...

      - name: Running go tests with coverage
        env:
          GO111MODULE: on
        run: make cover
      - name: Send coverage
        uses: coverallsapp/github-action@v2
        with:
          file: ./coverage.out

  GolangLint:
    name: Golang Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
